.Toastify__toast-container:has(.zeroloss-toast) {
    min-width: 600px !important;
    min-height: 80px !important;
}

.Toastify__toast-container:has(.zeroloss-toast) .Toastify__toast {
    padding: 0px !important;
}

.zeroloss-toast {
	min-width: 600px !important;
	min-height: 80px !important;
}

.zeroloss-toast-body {
    min-width: 600px !important;
    min-height: 80px !important;
    padding: 0px !important;
}