@for $i from 0 through 100 {
	@if $i% 1 == 0 {
		.border-radius-#{$i}px {
			border-radius: #{$i}px !important;
		}

		.border-#{$i}px {
			border-width: #{$i}px !important;
			border-style: solid !important;
		}

		.border-left-#{$i}px {
			border-left-width: #{$i}px !important;
			border-left-style: solid !important;
		}

		.border-right-#{$i}px {
			border-right-width: #{$i}px !important;
			border-right-style: solid !important;
		}

		.border-top-#{$i}px {
			border-top-width: #{$i}px !important;
			border-top-style: solid !important;
		}

		.border-bottom-#{$i}px {
			border-bottom-width: #{$i}px !important;
			border-bottom-style: solid !important;
		}
	}
}

.border-width-0 {
	border-width: 0 !important;
}

.border-l-0 {
	border-left-width: 0 !important;
}

.border-r-0 {
	border-right-width: 0 !important;
}

.border-t-0 {
	border-top-width: 0 !important;
}

.border-b-0 {
	border-bottom-width: 0 !important;
}
